{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Ajouter une nouvelle catégorie</h1>
    {{ form_start(form) }}
    {{ form_row(form.name, { 'label': 'Nom de la catégorie' }) }}
    <button type="submit" class="btn btn-primary">Ajouter</button>
    {{ form_end(form) }}
</div>
{% endblock %}
