{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<div>
    <h1>Liste des tricks</h1>
    {% for message in app.flashes('success') %}
          <p>{{ message }}</p>
    {% endfor %}
    <ul>
        <li><a href="{{ path('trick_admin_new') }}">Créer un nouveau trick</a></li>
    </ul>
</div>
{% endblock %}
