{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<div>
    <h1>Nouveau trick</h1>
    <h2>Créer un trick</h2>
    {{ include('admin/_form.html.twig', {button: 'Publier'})}}
</div>
{% endblock %}
