{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Nouveau trick</h1>
    {{ include('admin/_form.html.twig', {button: 'Publier'})}}
</div>
{% endblock %}
