{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<div>
    <h1>Detail d'un trick</h1>

    Page de détail d'un trick.
    Bouton vers <a href="{{ path('trick_admin_edit') }}">Editer le trick</a>
</div>
{% endblock %}
